
.class-1 {
    background-color: rgb(255, 102, 153);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#id-1 {
    color: blue;
    font-size: 36px;
}

.class-1#id-3 {
    font-size: 24px;
}

#id-2 {
    background-color: rgb(153, 255, 102);
    font-size: 24px;
    font-weight: 700;
}

.button1 {
    background-color: black;
    color: white;
}

.button2 {
    background-color: yellow;
}

.button1,
.button2 {
    font-size: 28px;
    font-family: "Helevetica", "Times New Roman", sans-serif;
}

.avatar.proportioned {
    height: auto;
    width: 300px;
}

.avatar.distorted {
    height: 400px;
    width: 200px;
}

.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}
